@font-face {
  font-family: 'Gadugi';
  src: local('Gadugi'), url('/fonts/gadugi.ttf') format('truetype');
}
@font-face {
  font-family: ModelicaBlack;
  src: local('ModelicaBlack'), url('/fonts/BWMODELICA-BLACK.OTF') format('opentype');
}
@font-face {
  font-family: ModelicaBlackItalic;
  src: local('ModelicaBlack'), url('/fonts/BWMODELICA-BLACKITALIC.OTF') format('opentype');
}
@font-face {
  font-family: ModelicaBold;
  src: local('ModelicaBold'), url('/fonts/BWMODELICA-BOLD.OTF') format('opentype');
}
@font-face {
  font-family: ModelicaBoldItalic;
  src: local('ModelicaBoldItalic'), url('/fonts/BWMODELICA-BOLDITALIC.OTF') format('opentype');
}
@font-face {
  font-family: ModelicaExtrabold;
  src: local('ModelicaExtrabold'), url('/fonts/BWMODELICA-EXTRABOLD.OTF') format('opentype');
}
@font-face {
  font-family: ModelicaExtraboldItalic;
  src: local('ModelicaExtraboldItalic'), url('/fonts/BWMODELICA-EXTRABOLDITALIC.OTF') format('opentype');
}
@font-face {
  font-family: ModelicaHairline;
  src: local('ModelicaHairline'), url('/fonts/BWMODELICA-HAIRLINE.OTF') format('opentype');
}
@font-face {
  font-family: ModelicaHairlineItalic;
  src: local('ModelicaHairlineItalic'), url('/fonts/BWMODELICA-HAIRLINEITALIC.OTF') format('opentype');
}
@font-face {
  font-family: ModelicaLight;
  src: local('ModelicaLight'), url('/fonts/BWMODELICA-LIGHT.OTF') format('opentype');
}
@font-face {
  font-family: ModelicaLightItalic;
  src: local('ModelicaLightItalic'), url('/fonts/BWMODELICA-LIGHTITALIC.OTF') format('opentype');
}
@font-face {
  font-family: ModelicaMedium;
  src: local('ModelicaMedium'), url('/fonts/BWMODELICA-MEDIUM.OTF') format('opentype');
}
@font-face {
  font-family: ModelicaMediumItalic;
  src: local('ModelicaMediumItalic'), url('/fonts/BWMODELICA-MEDIUMITALIC.OTF') format('opentype');
}
@font-face {
  font-family: ModelicaRegular;
  src: local('ModelicaRegular'), url('/fonts/BWMODELICA-REGULAR.OTF') format('opentype');
}
@font-face {
  font-family: ModelicaRegularItalic;
  src: local('ModelicaRegularItalic'), url('/fonts/BWMODELICA-REGULARITALIC.OTF') format('opentype');
}
@font-face {
  font-family: ModelicaThin;
  src: local('ModelicaThin'), url('/fonts/BWMODELICA-THIN.OTF') format('opentype');
}
@font-face {
  font-family: ModelicaThinItalic;
  src: local('ModelicaThinItalic'), url('/fonts/BWMODELICA-THINITALIC.OTF') format('opentype');
}
