.box-list-simple{
  width: 100%;
  height: 350px;
  overflow-y: auto;
  // border: 1px solid black;
  border-radius: 5px;
  margin: auto;
}
.box-list-child{
  width: 95%;
  height: 30%;
  overflow-y: auto;
  border: 1px solid red;
  border-radius: 5px;
  margin: auto;
  font-weight: bold;
  font-size: 12px;
}
.student_scores-ul{
  // text-align: center;
}
.student_scores-ul li{
  list-style: none;
  // border: 1px solid black;
}
.student_scores-li-title{
  font-size: 14px;
  font-weight: bold;
  margin-left: 10%;
}
.student_scores-li-container table{
  font-size: 14px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 80%;
  margin-left: 10%;
}
.student_scores-li-container table tr td{
  padding: 5px;
}
