.breadcrumb-container{
  display: flex;
  width: 100%;
  position: relative;
  padding-top: 8px;
  padding-bottom: 8px;
  align-items: center;
  border-bottom: 1px solid #dbdbdb;
}
.breadcrumb-icon {
  margin-bottom: -5px;
  margin-left: 5px;
}

.breadcrumb-list {
  list-style: none;
}

.breadcrumb-item {
  float: left;
}

.breadcrumb-link {
  color: #666;
}
