.card-lectorqr {
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: auto;
    gap: 10px;
}

.title-congress {
    font-family: ModelicaMedium;
    font-size: 16px;
    text-align: center;
}

.card-lectorqr input {
    height: 60px;
    font-size: 28px;
    text-align: center;
    border-radius: 10px;
    /*   width: 50% !important; */
    /*   margin: auto; */
}

@mixin status($color: #545454, $bg: white) {
    background-color: $bg;
    color: $color;
    height: 60px;
    font-size: 18px;
    font-family: ModelicaRegular;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.status-waiting {
    @include status(black, white);
}

.status-error {
    @include status(white, red);
}

.status-success {
    @include status(white, green);
}

.workshops-details {
    width: 100%;
    font-family: ModelicaRegular;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.workshop-det-title {
    font-family: ModelicaMedium;
}

.workshops-details ul {
    list-style: none;
    line-height: 2;
}

.workshops-details ul li ul {
    box-shadow: 0px 24px 25px -5px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 24px 25px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 24px 25px -5px rgba(0, 0, 0, 0.75);
}