.pagination{
  width: 100%;
  margin: auto;
  padding: 16px;
  background-color: #fff;
  border: 1px solid rgba(224, 224, 224, 1);
  border-radius: 5px;
}
// .MuiPagination-root .MuiButtonBase-root .Mui-selected{
//   background-color: #710101;
// }
.paginator-mui .MuiPaginationItem-page.Mui-selected, .MuiPaginationItem-page.Mui-selected.Mui-focusVisible{
  background-color: #710101;
  color: white;
}

.paginator-mui .MuiPaginationItem-page.Mui-selected:hover, .MuiPaginationItem-page.Mui-selected.Mui-focusVisible{
  background-color: #470202;
  color: white;
}
