.navbar_user{
  border: 1px solid black;
}
.title-app{
  font-family: ModelicaExtrabold;
  color: #666666;
  margin: 0;
}
.title-page{
  // margin-right: 20%;
  // margin-left: 30px;
  // border: 1px solid black;
  width: 44%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #999;
  font-family: ModelicaExtrabold;
}
.user-section{
  // border: 1px solid black;
  display: flex;
  justify-content: right;
  width: 30%;
}
.user-name{
  font-weight: bold;
  font-family: ModelicaMediumItalic;
  color: #666666;
  font-size: 17px;
  margin-top: 8px;
}
.user-role{
  font-weight: normal;
  margin: 0;
  font-family: ModelicaRegular;
  font-size: 15px;
}
