.container-home{
  margin: auto;
  display: flex;
  align-items: center;
  width: 100%;
}
.home-button{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  float: left;
  margin-top: 10%;
  background-color: #bf211e;
  box-shadow: -1px -1px 68px -16px rgba(0,0,0,0.65);
  display: flex;
  align-items: center;
}
.home-button:hover{
  cursor: pointer;
}
.home-button-green:hover{
  cursor: pointer;
}
.home-button-gray:hover{
  cursor: pointer;
}

.home-button2{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  float: left;
  margin-top: -10%;
  background-color: #bf211e;
  box-shadow: -1px -1px 68px -16px rgba(0,0,0,0.65);
  display: flex;
  align-items: center;

}
.home-button-green{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  float: left;
  margin-top: 10%;
  background-color: green;
  box-shadow: -1px -1px 68px -16px rgba(0,0,0,0.65);
  display: flex;
  align-items: center;
}
.home-button-gray{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  float: left;
  margin-top: 10%;
  background-color: gray;
  box-shadow: -1px -1px 68px -16px rgba(0,0,0,0.65);
  display: flex;
  align-items: center;
}
.line-dots{
  border:none;
  border-top:5px dotted #f00;
  background-color:#fff;
  height:1px;
  width:100%;
  transform: rotate(-15deg);
  float: left;
  justify-content: center;
}
.line-dots2{
  border:none;
  border-top:5px dotted #f00;
  background-color:#fff;
  height:1px;
  width:100%;
  transform: rotate(15deg);
  float: left;
  justify-content: center;
}
.image-home{
  position:absolute;
  margin-left: 3.8%;
  margin-bottom: 4%;
  float: none;
}
.title-home{
  float: none;
  color: #fff;
  font-size: 25px;
  position: absolute;
  margin-top: 8%;
  font-weight: bold;
  width: 200px;
  text-align: center
}
.title-home2{
  float: none;
  color: #fff;
  font-size: 35px;
  position: absolute;
  width: 200px;
  text-align: center
}
.title-enrolleds{
  color: #bf211e;
  font-family: Gadugi;
  transform: scaleX(0.929282);
}
.home-container{
    width: 70%;
    margin: auto;
    text-align: center;
}
.textfield-home{
  margin-top: 30%;
  width: 70%;
}
.spacing-menu{
  margin: 7.5%;
  float: left;
}
.dashboard-button {
  border-right: 2px solid #ddd;
  font-size: 18px;
  font-family: ModelicaMedium;
  margin: 20px;
  color: #666666;
  padding-right: 25px;
  transition: transform .2s;
}
.dashboard-button:hover{
  cursor: pointer;
  transform: scale(1.1);
}
.dashoard-img-button{
  height: 120px;
}
.main-header-section{
  // float:left;
  display: table;
}
.main-img-section{
  height: 80px;
}
.main-title-section{
  font-size: 25px;
  font-family: ModelicaMedium;
  color: #666666;
  display: table-cell;
  vertical-align: middle;
}
.dashboard-link-button{
  text-decoration: none;
}

.card_desc {
  margin: auto;
  // margin-left: 20px;
  width: 80%;
  height: 80vh;
  background-color: #eaeaea;
  box-shadow: 4px 10px 14px -5px;
  // float: left;
  // position: fixed;
  overflow-y: auto;
}
.MuiList-padding a{
  color:#666666;
  text-decoration: none;
  font-family: ModelicaMediumItalic;
}
.MuiList-padding a:hover{
  color:#000;
  text-decoration: underline;
}
