.login{
  justify-content: center;
  background-color: white;
  border: 1px solid #000;
  border-radius:10px;
  box-shadow: 7px 14px 42px 3px rgba(0,0,0,0.75);;
  padding: 20px 40px 30px;
  width: 50%;
  max-height: 90%;
  overflow-y: auto;
  margin:auto;
  margin-top: 7%;
}
.back-style{
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle, #ffff, #ffff, gray 120%);

  }
.image-login-container{
  margin: auto;
  padding-top: 8%;
  width: 500px;
}
.image-login{
  width: 100%;
}
#app{
  background-color: #ffff;
  height: 100%;
}
