.modal{
   display: flex;
   align-items: center;
   justify-content: center;
   border: 0px;

 }
.textField{
  margin-left: 10px;
  margin-right: 10px;
  width: 30%;

}
.react-select1 {
  margin: 8px;
  width: 30%;
  float: left;
}

.css-yk16xz-control{
  height: 56px;
}
.css-1pahdxg-control{
 height: 56px;
}

.big-paper{
  background-color: white;
  // border: 1px solid #000;
  // border-radius:10px;
  box-shadow: 50px;
  padding: 20px 40px 30px;
  width: 95%;
  max-height: 100%;
  overflow-y: auto;
  -webkit-box-shadow: 0px 0px 52px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 52px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 52px -1px rgba(0,0,0,0.75);
}
.paper{
  background-color: white;
  // border: 1px solid #000;
  // border-radius:10px;
  box-shadow: 50px;
  padding: 20px 40px 30px;
  width: 80%;
  max-height: 90%;
  overflow-y: auto;
  -webkit-box-shadow: 0px 0px 52px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 52px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 52px -1px rgba(0,0,0,0.75);
}
.small_paper{
  background-color: white;
  // border: 1px solid #000;
  // border-radius:10px;
  box-shadow: 50px;
  padding: 20px 40px 30px;
  width: 40%;
  max-height: 90%;
  overflow-y: auto;
  -webkit-box-shadow: 0px 0px 52px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 52px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 52px -1px rgba(0,0,0,0.75);
}
.dropz{

  margin-left: 10px;
  margin-right: 10px;
  width: 225px;
  height: 225px;
  border-radius: 5px;
  float: right;
}
.buttons{
  float: right;
}
.divisor{
  margin-left: 20px;
  margin-top: -10px;
  margin-bottom: -10px;
  width: 100%;
  position: absolute;
}
.MuiAutocomplete-popper .MuiAutocomplete-option:hover{
  background-color: rgba(220,220,220,0.6);
}
.MuiAutocomplete-popper .MuiAutocomplete-option:focus{
  background-color: rgba(220,220,220,0.6);
}
// .MuiAutocomplete-popper li li:hover{
//   background-color: rgba(220,220,220,0.9);
// }
