.table_monitoring{
  border-collapse: collapse;
  width: 98%;
}
.monitoring-th{
  color: #4d4d4d;
  font-family: ModelicaRegular;
}
.monitoring-th a{
  text-decoration: underline;
}
.monitoring-th a:hover{
  cursor: pointer;
}
.table_monitoring .monitoring-th, .table_monitoring td{
  border-right: 1px solid rgba(0,0,0,0.23);
  border-bottom: 1px solid rgba(0,0,0,0.23);
  padding: 0px 5px;
  height: 30px;
}
.monitoring-subjects{
  // writing-mode: vertical-rl;
  // transform: rotate(180deg);
  font-weight: bold;
  padding: 0 5px;
  font-size: 11px;
  width: 6%;
  border-right: 1px solid rgba(0,0,0,0.23);
  border-bottom: 1px solid rgba(0,0,0,0.23);
  color: #4d4d4d;
  font-family: ModelicaRegular;
}
.monitoring-subjects a {
  text-decoration: underline;
}
.monitoring-subjects a:hover {
  cursor: pointer;
}
.monitoring-quots{
  font-weight: bold;
  padding: 0 5px;
  font-size: 15px;
  width: 6%;
  border-right: 1px solid rgba(0,0,0,0.23);
  border-bottom: 1px solid rgba(0,0,0,0.23);
  color: #4d4d4d;
  font-family: ModelicaRegular;
}
.hover-table-row:hover{
  background-color: rgba(0,0,0,0.17);
}
.monitoring-name{
  font-size: 14px;
  color: #4d4d4d;
  font-family: ModelicaExtrabold;
}
.monitoring-name span{
  text-decoration: underline;
}
.monitoring-name span:hover{
  cursor: pointer;
}
.monitoring-tdamount div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.monitoring-text{
  font-size: 13px;
  color: #4d4d4d;
  font-family: ModelicaMedium;
}
.asist-prom-success{
  background-color: #288228;
  color: white;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 11px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.asist-prom-red{
  background-color: #f22121;
  color: white;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 11px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.asist-prom-black{
  background-color: #111;
  color: white;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 11px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.asist-prom-success:hover, .asist-prom-red:hover, .asist-prom-black:hover{
  cursor: pointer;
}
