.card_person {
  margin: auto;
  margin-left: 20px;
  width: 300px;
  height: 70vh;
  background-color: #eaeaea;
  box-shadow: 4px 10px 14px -5px;
  float: left;
  // position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
}
.card_person1 {
  margin: auto;
  margin-left: 20px;
  width: 300px;
  height: 70vh;
  background-color: white;
  box-shadow: 4px 10px 14px -5px;
  float: left;
  overflow-y: auto;
}
.main-student-charges{
  // border: 1px solid black;
  padding: 1% 2%;
  width: 100%;
  // overflow-y: auto;
  // margin: auto;
  height: 100%;
  position: relative;
  z-index: 1;
}
.card_person2 {
  margin: auto;
  margin-right: 20px;
  width: 270px;
  height: 70vh;
  background-color: #eaeaea;
  box-shadow: 4px 10px 14px -5px;
  float: right;
  overflow-y: auto;
  // position: fixed;
}
.card_person3 {
  // margin: auto;
  margin-right: 20px;
  width: 94%;
  height: 80vh;
  background-color: #eaeaea;
  box-shadow: 4px 10px 14px -5px;
  float: right;
  overflow-y: auto;
  // position: fixed;
}
.card_person4 {
  width: 94%;
  height: 80vh;
  background-color: #fff;
  box-shadow: 4px 10px 14px -5px;
  float: right;
  overflow-y: auto;
}
.card_addcourse {
  // margin: auto;
  margin-right: 20px;
  width: 94%;
  height: 80vh;
  background-color: #eaeaea;
  box-shadow: 4px 10px 14px -5px;
  float: right;
  // position: fixed;
}
.subcard_person3{
  float: left;
  margin-top: 20px;
  font-family: ModelicaMedium;
  color: #4d4d4d;
  font-size: 17px;
}

.profile_photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-left: 75px;
  margin-right: 75px;
  margin-top: 20px;
  background-color: white;
}
.profile_icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-left: 75px;
  margin-right: 75px;
  margin-top: 20px;
  background-color: white;
}
.profile_icon2 {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  background-color: white;
  float: left;
}
.circle_style-red{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 20px;
  background-color: #bf211e;
  font-size: 45px;
  color: white;
  justify-content: center;
  display: flex;
  align-items: center;
  font-family: ModelicaBold;
}
.circle_style-green{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 20px;
  background-color: green;
  font-size: 45px;
  color: white;
  justify-content: center;
  display: flex;
  align-items: center;
  font-family: ModelicaBold;
}
.card_label_field {
  text-align: center;
  margin-top: 20px;
}
.pagados_de{
  color: #565656;
  margin: 0px;
  font-size: 15px;
  font-family: ModelicaMedium;
  margin: 0 30px;
}
.title_vence_dias{
  color: #565656;
  margin: 0px;
  font-size: 11px;
  font-family: ModelicaMedium;
  margin: 0 30px;
}
.title_cuotas_retrasadas{
  font-size: 16px;
  margin: 0px;
  font-weight: bold;
  color: #565656;
  font-family: ModelicaExtraBold;
}
.title_column {
  color: #565656;
  margin: 0px;
  font-size: 14px;
  font-family: ModelicaMedium;
}
.title_column2 {
  color: #565656;
  margin: 0px;
  font-size: 14px;
  font-family: ModelicaMedium;
}
.title_column2:hover {
  cursor: pointer;
}
.value_column {
  font-size: 18px;
  margin: 0px;
  font-weight: bold;
  color: #565656;
  font-family: ModelicaExtraBold;
}
.select-ciudades {
  width: 100%;
  margin: 10px auto;
  text-align: center;
}
