.report-title1{
  font-size: 30px;
  font-weight: bold;
}
.report-grid {
  border: 1px solid black;
  width: 200px;
  text-align: center;
  font-size: 20px;
  color: #222;
  margin: 10px;
}
.report-link {
  text-decoration: none;
}
html, body {
      height: 100%;
      width: 100%;
      padding: 0;
      margin: 0;
  }
.report-table{
  border-collapse:collapse;
  font-family: "Dejavu Sans" !important;
}
.report-thead{
  font-size: 12px;
  font-family: serif;
  color: #555555;
  text-align: center;
}
.report-thead th{
  border: 1px solid #9e9e9e;
  border-top: 0px;
  padding: 5px;
}
.report-tbody{
  font-size: 11px;
  font-family: serif;
  color: #222;
}
.report-tbody td{
  border: 1px solid #9e9e9e;
  border-top: 0px;
  padding: 8px;
  /* border-spacing: 0; */
}
.report-table-amount{
  text-align: right;
  font-weight:bold;
  font-family: Helvetica;
  font-size: 14px;
  color: #555555;
}
.report-table-totales{
  font-family: "Dejavu Sans" !important;
  font-size: 16px;
  padding-left: 2%;
}
.report-table-totales-amount{
  text-align: right;
  font-weight:bold;
  font-family: Helvetica;
  color: #555555;
}
.report-container{
  margin: 10px;
}
.report-date{
  font-size: 13px;
  color: #222;
  font-family: "Dejavu Sans"
}
.td-line{
  border-bottom: 1px solid #9e9e9e;
  padding: 0 100px;
  width: 100%;
  /* width: 500px; */
}
.td-line2{
  border-bottom: 1px solid #9e9e9e;
  width: 100%;
  /* width: 500px; */
}
.balance-report-card{
  // border: 1px solid black;
  width: 100%;
}
.balance-report-card-title1{
  font-size: 25px;
  color: #598c0e;
  text-align: center;
  margin: 0;
  margin-bottom: -15px;
  font-family: ModelicaBold;
  // outline: 1px solid black;
}
.balance-report-card-title2{
  font-size: 25px;
  color: #a62c2a;
  text-align: center;
  margin: 0;
  margin-bottom: -15px;
  font-family: ModelicaBold;
}
.balance-report-card-list1{
  font-size: 20px;
  list-style: none;
  text-align: right;
  margin-right: 10%;
  color: #666666;
  font-family: ModelicaRegular;
}
.balance-report-card-item1{
  // text-align: left;
  margin: 0;
  // float: left;
}
.balance-report-card-item2{
  // text-align: right;
  margin: 0;
  font-family: ModelicaBold;
}
.line-total{
  width: 45%;
  height: 0;
  border: 1px solid #aaa;
}
.report-balance-total-title{
  font-size: 30px;
  margin-top: -5px;
  color: #555555;
  font-family: ModelicaMedium;
}
.report-balance-total{
/*   border: 1px solid black; */
/*   text-align: center; */
  margin: 35px auto;
  font-size: 40px;
  color: #666666;
  font-family: ModelicaBold;
}
.grid-container {
  width: 100%;
  height: auto;
  border: 1px solid black;
  // display: flex;
  // flex-wrap: nowrap;
  // float:  left;

}
.grid-item{

  width: 50%;
  float: left;
  position: relative;
  height: 20%;
  // min-height: 1px;
  // border: 1px solid black;
  // padding-right: 15px;
  // padding-left: 15px;
  // margin: 10px;
  // float: left;

}
.grid-container-child{
  width: 170%;
  display: flex;
  flex-wrap: nowrap;
}
.grid-item-child{
  margin-bottom: -10px;
}
.balance-pdf-card-list1{
  font-family: Helvetica;
  width: 45%;
  text-align: right;
}
.balance-pdf-card-item2{
  font-family: Helvetica;
  text-align: right;
  font-weight: bold;
}
.balance-pdf-card-title1{
  font-size: 25px;
  color: #598c0e;
  font-family: Helvetica;
  font-weight: bold;
  text-align: right;
  margin: 0;
  // margin-bottom: 15px;
}
.balance-pdf-card-title2{
  font-size: 25px;
  color: #a62c2a;
  font-family: Helvetica;
  font-weight: bold;
  text-align: right;
  margin: 0;

  // margin-bottom: 15px;
}
.balance-totales{
  text-align: center;
}
.report-title-section{
  font-size: 35px;
  font-family: Helvetica !important;
  color: #555555;
  margin-left: 12%;
  margin-top: -50px;
}
.report-title-section2{
  font-size: 35px;
  font-family: Helvetica !important;
  color: #555555;
  padding-left: 1%;
}
.report-title-section3{
  font-size: 35px;
  font-family: Helvetica !important;
  color: #555555;
  padding-left: 2%;
}
.report-title-section4{
  font-size: 18px;
  font-family: "Dejavu Sans" !important;
  font-weight: bold;
  color: #555555;
  padding-left: 2%;
}
// Sección demografica

.demographic-quantity-section{
  color: #555555;
  width: 80%;
  border-top: 1px solid #d7e3c4;
  border-bottom: 1px solid #d7e3c4;
  font-family: ModelicaRegular;
}
.demographic-quantity-section h4{
  font-size: 30px;
  margin: 0;
}
.qty-persons{
  font-size: 17px;
  margin: 0;
}
.qty-desertors{
  font-size: 14px;
  color: #a62c2a;
  margin: 0;
}
.demographic-average-section{
  color: #555555;
  font-family: ModelicaRegular;
  float: left;
  width: 100%;
}
.demographic-average-section h4{
  font-size: 30px;
  margin: 0;
}
.demographic-average-section .demographic-card{
  float: left;
  width: 30%;
}
.demographic-average-section .demographic-fullcard{
  // text-align: center;
  width: 100%
}
.average-age-by-gender{
  list-style: none;
  padding-left: 0px;
  font-weight: bold;
}
.demographic-option-piechart{
  float: left;
  list-style: none;
  font-weight: bold;
  padding-top: 10%;
  padding-left: 3%;
}
.demographic-option-left-piechart{
  float: left;
  list-style: none;
  font-weight: bold;
  // padding-top: 10%;
  padding-right: 20%;
}
.demographic-option-piechart-item1::before{
  content: "\2589";
  color: var(--color-var);
  font-weight: bold;
  padding-right: 5px;
}
.demographic-option-piechart-item2::before{
  content: "\2589";
  color: #a62c2a;
  font-weight: bold;
  padding-right: 5px;
}
.list-pdf{
  text-align: center;
}
.list-pdf li{
  font-size: 15px;
  margin-top: 10px;
  text-decoration: underline;
}
.list-pdf li:hover{
  cursor: pointer;
}
.enrolled_report-title-faculty{
  color: #333333;
  font-size: 20px;
  font-family: ModelicaMedium;
}
.enrolled_report-title-year{
  color: #333333;
  font-family: ModelicaBold;
}
.enrolled_report-title-period{
  color: #333333;
  font-family: ModelicaRegular;
  font-size: 12px;
  margin-top: -5px;
}
.enrolled_report-title-label{
  color: #555555;
  font-family: ModelicaMedium;
  font-size: 16px;
}
.enrolled_report-title-meta{
  color: #555555;
  font-family: ModelicaRegularItalic;
  font-size: 16px;
}
.enrolled_report-title-total{
  color: #333333;
  font-family: ModelicaBold;
  font-size: 25px;
}
.enrolled_report-career-section{
  // border-top: 1px solid #cccccc;
  margin-top: 20px;
}
.enrolled_report-title-career{
  font-family: ModelicaBold;
  color: #333333;
  // margin-top: -12px;
  background-color: #fafafa;
  // width: 25%;
  display: flex;
}
.enrolled_report-title-career::after{
  border-bottom: 1px solid #cccccc;
  content: '';
  flex: 1;
}
.enrolled_report-semesters-section{
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 5px;
}
.enrolled_report-semesters-section div{
  border-right: 1px solid #cccccc;
  margin-left: 2%;
}
.enrolled_report-total-section h3{
  display: flex;
  font-size: 40px;
  font-family: ModelicaRegular;
  color: #333333;
  margin: 0;
}
.enrolled_report-total-section h3::after{
  border-bottom: 1px solid #cccccc;
  content: "";
  flex: 1;
}
.enrolled_report-value-total{
  font-size: 60px;
  font-weight: bold;
  padding-bottom: 200px;
}
.enrolled_report-value-total span{
  font-size: 20px;
  color: #333333;
}
.enrolled_report-button-compare{
  color: #333333;
  width: 80%;
  text-align: center;
  padding: 3px 0px;
  margin-top: 15px;
  font-family: ModelicaMedium;
  box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.42);
}
.enrolled_report-button-compare:hover{
  cursor: pointer;
}
