@mixin colorstyle($fontsize, $topmargin: 0px, $bold:false, $colorinside: false, $float: left){
  @if $colorinside == true {
    background-color: #545454;
    color: white;
  }
  @else{
    color: #545454;
  }
  @if $bold==true {
    font-weight: bold;
  }
  font-size: $fontsize;
  margin-top: $topmargin;
  float: $float;
}
@mixin subj-borderstyle($color: #545454, $padding_sides: true, $fontSizeDefault: true){
  border: 1px solid $color;
  border-radius: 8px;
  list-style: none;
  float: left;
  color: $color;
  @if $fontSizeDefault {
      font-size: 16px;
  }
  @if $padding_sides == true{
      padding: 0px 15px;
  }
  margin: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.title-filecharges{
  @include colorstyle(170%, 2%, true, true);
  margin-left: -20px;
  padding-right: 10px;
  width: 100%;
  height: 30px;
  text-align: right;
}
.title-formexampayment{
  @include colorstyle(120%, 2%, true, true);
  margin-left: -20px;
  padding-right: 10px;
  width: 25%;
  height: 30px;
  text-align: right;
}

.main-titlecareer{
  @include colorstyle(40px, -15px, true);

}
.main-career_name{
  @include colorstyle(23px, 5px, true, false, none);
  margin-left: 10px;
  font-family: ModelicaExtraBold;
}
.main-titleyear{
  @include colorstyle(23px, 5px, true, false, none);
  font-family: ModelicaRegular;
}
.main-titlesemester{
  @include colorstyle(15px, 0);
  font-family: ModelicaBold;
}
.main-listsubjs{
  font-size: 15px;
  margin-top:5px;
  float: left;
}
.main-lisubjs{
  @include subj-borderstyle();
  font-family: ModelicaMedium;
  font-size: 11px;
}
.main-payment{
  @include subj-borderstyle(#545454, false, false);
  padding: 0px 30%;
  font-size: 20px;
}
.main-payment:hover{
  cursor: pointer;
}
.main-amount_expired{
  color: red;
  font-size: 12px;
  font-family: ModelicaMedium;
  margin-left: 15px;
  // width: 100%;
}
.main-amount_expired-total{
  color: red;
  font-size: 12px;
  font-family: ModelicaBold;
  margin-left: 15px;
  // width: 100%;
}
.main-amount_to_pay{
  color: green;
  font-size: 12px;
  // width: 100%;
}
.main-listquot{
  border-radius: 1px solid black;
  margin-top: 20px;
  width: 75%;
  float: left;
}
.main-lisubjs2{
  @include subj-borderstyle(red);
  font-family: ModelicaMedium;
  font-size: 11px;
}
.main-lisubjs3{
  @include subj-borderstyle(green);
  font-family: ModelicaMedium;
  font-size: 11px;
}
.main-lisubjs:hover{
  cursor: pointer;
}
.main-lisubjs2:hover{
  cursor: pointer;
}
.main-addsubj{
  @include colorstyle(18px, 40px, true);
}
.main-addsubj:hover {
  cursor: pointer;
}
.main-titleoperations{
  @include colorstyle(20px, 5px, true);
  font-family: ModelicaBold;
}
.main_title_accordeon{
  font-size: 15px;
  font-family: ModelicaRegular;
}
.main-buttom_operation{
  @include colorstyle(15px, 5px, false, true);
  border-radius: 10px;
  margin-right: 10px;
  padding: 0px 10px;
  font-family: ModelicaBold;
}
.main-buttom_operation:hover{
  cursor: pointer;
}
.subjs-forexampayment{
  font-size: 16px;
  border: 1px solid #545454;
  border-radius: 5px;
}
.amount-formexampayment{
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-bottom: 1px solid #545454;

}
.main-enroll-paid{
  color: white;
  width: 80px;
  height: 42px;
  border-radius: 7px;
  text-align: center;
  font-size: 12px;
  position: relative;
}
.quot_title_desc{
  font-size: 11px;
  font-family: ModelicaBold;
  // margin-top: 5px;
}
.quot_subtitle_desc{
  font-size: 7px;
  font-family: ModelicaBold;
  margin-top: 0px;
  margin-bottom: -7px;
}
.quot_title_month{
  font-size: 12px;
  font-family: ModelicaBold;
  margin-top: 5px;
}
.main-enroll-paid_mat{
  color: white;
  width: 100%;
  padding: 1px 10px;
  border-radius: 5px;
  text-align: left;
  font-size: 15px;
  font-family: ModelicaBold;
  position: relative;
}
.staccount_color-green{
  background-color: green;
  position: relative;
}
.staccount_color-orange{
  background-color: orange;
  position: relative;
}
.staccount_color-mid_paid{
  background: linear-gradient(to left, #bf211e, #bf211e 50%, green 50%);
  position: relative;
}
.staccount_color-red{
  background-color: #bf211e;
  position: relative;
}
.main-enroll-paid:hover{
  cursor: pointer;
}
.card_quot {
  margin: auto;
  margin-left: 20px;
  width: 100%;
  height: 100%;
  background-color: #eaeaea;
  box-shadow: 4px 10px 14px -10px;
  float: left;
}
.title_quot{
  @include colorstyle(25px, 5px, true);
  width: 100%;
  margin-left: 3%;
}
.title_amount{
  @include colorstyle(12px, 5px);
  width: 100%;
  margin-left: 5%;
  font-family: ModelicaRegular;
}
.title_amount-total{
  @include colorstyle(12px, 5px, true);
  width: 100%;
  margin-left: 5%;
  font-family: ModelicaBold;
}
.title_product{
  @include colorstyle(12px, 5px, true);
  width: 100%;
  font-family: ModelicaBold;
  text-align: center;
}
.title_subproduct{
  @include colorstyle(11px, 5px, false);
  width: 100%;
  font-family: ModelicaBold;
}
.quot_amount{
  @include colorstyle(25px, 5px, false);
  margin-left: 5%;
}
.quot_subtitle{
  @include colorstyle(12px, 16px, false);

}
.total_quot_title{
  @include colorstyle(12px, 16px, true);
  width: 100%;
  margin-left: 5%;
}
.total_quot_amount{
  @include colorstyle(20px, 5px, false, true);
  border-radius: 10px;
  margin-left: 5%;
  padding: 0px 10px;
}
.total_title{
  @include colorstyle(18px, 5px, true);
  width: 100%;
  margin-left: 10%;
}
.total_amount{
  @include colorstyle(35px, 5px, true);
  width: 100%;
  margin-left: 10%;
}
.payment_det_list{
  list-style: none;
}
.form_payment{
  width: 90%;
  padding: 10px;
  background-color: #eaeaea;
  // margin-bottom: -20px;
  box-shadow: 4px 10px 14px 10px;
}
.form_tpayment{
  margin-top: 20px;
  margin-left: 5px;
  text-align: justify;

  // margin-bottom: -20px;
  // box-shadow: 4px 10px 14px 10px;
}
.table_payment-container{
  height: 40%;
  max-height: 40%;
  overflow-y: auto;
  width: 100%;
}
.table_payment-table{
  width: 98%;
  margin-left: 1%;
}
.table_payment-table th {
  font-family: ModelicaBold;
  font-size: 12px;
  color: #4d4d4d;
}
.table_payment-table .table_payment-td {
  font-family: ModelicaMedium;
  font-size: 12px;
  color: #333333;
}
.table_payment-table .table_payment-totals {
  font-family: ModelicaBold;
  font-size: 12px;
  color: #333333;
  border-top: 1px solid #4d4d4d;
}
.input_small .MuiFormLabel-root{
  margin-top: -3px;
}
.input_small .MuiInputBase-root{
  height: 30px;
  font-size: 12px;
}
.container-grid-cuotas{
  height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
}
.container-grid-cuotas::-webkit-scrollbar{
  display: none;
}
.tooltip-cuotas{
  position: relative;
  z-index: 999;
}
.tooltip-cuotas .tooltip-cuotas-content{
  font-weight: bold;
  visibility: hidden;
  width: 290px;
  height: 150px;
  margin-left: -110px;
  background-color: #fff;
  color: #000;
  text-align: center;
  border-radius: 3px;
  padding: 5px 0;
  /* Position the tooltip */
  bottom: 130%;
  left: 95%;
  position: absolute;
  z-index: 1;
  border: 1px solid black;
  box-shadow: 3px 17px 10px -10px rgba(0,0,0,0.75);
}
.tooltip-cuotas .tooltip-cuotas-content::after{
  content: " ";
  position: absolute;
  top: 106%;
  left: 20%;
  // right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}
.tooltip-cuotas:hover .tooltip-cuotas-content {
  visibility: visible;
}

// .MuiAutocomplete-popper.MuiAutocomplete-popperDisablePortal{
//   background-color: red;
// }
.tooltip-cuotas-tdiv{
  font-weight: bold;
  // color: green;
  float: left;
}
.tooltip-cuotas-tdiv2{
  font-weight: normal;
  // color: red;
  float: left;
  margin-left: 5px;
}
.tooltip-matricula{
  position: relative;
  z-index: 999;
}
.tooltip-matricula .tooltip-matricula-content{
  font-weight: bold;
  visibility: hidden;
  width: 290px;
  height: 150px;
  margin-left: -110px;
  background-color: #fff;
  color: #000;
  text-align: center;
  border-radius: 3px;
  padding: 5px 0;
  /* Position the tooltip */
  bottom: 130%;
  left: 40%;
  position: absolute;
  z-index: 1;
  border: 1px solid black;
  box-shadow: 3px 17px 10px -10px rgba(0,0,0,0.75);
}
.tooltip-matricula .tooltip-matricula-content::after{
  content: " ";
  position: absolute;
  top: 106%;
  left: 48%;
  // right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}
.tooltip-matricula:hover .tooltip-matricula-content {
  visibility: visible;
}

// .MuiAutocomplete-popper.MuiAutocomplete-popperDisablePortal{
//   background-color: red;
// }
.tooltip-matricula-tdiv{
  font-weight: bold;
  // color: green;
  float: left;
}
.tooltip-matricula-tdiv2{
  font-weight: normal;
  // color: red;
  float: left;
  margin-left: 5px;
}
.grid_cuotas_container{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 5px;

}
.grid_cuotas_item_mat{
  grid-column-start: 1;
  grid-column-end: 6;
}
.product_event_list{
  list-style: none;
  width: 100%;
  margin-left: -30px;
  margin-top: -10px;
}
.title-component{
  font-family: ModelicaExtraBold;
  font-size: 16px;
  color: #4c4c4c;
}
.subjtitle_checks .MuiTypography-body1{
  font-size: 8px;
  font-family: ModelicaBold;
  color: #4c4c4c;
  width: 130px;
}
.enrolled-obs{
  margin-left: 4%;
  padding: 5px;
  width: 90%;
  border-top: 1px solid black;
  // color: #565656;
  font-family: ModelicaRegular;
  font-size: 12px;
  // background-color: #eaeaea;
}
// .title_vence_dias{
//   color: #565656;
//   margin: 0px;
//   font-size: 11px;
//   font-family: ModelicaMedium;
//   margin: 0 30px;
// }
