.MuiTableBody-root .MuiTableRow-root:hover{
  background-color: rgba(220,220,220,0.60);
}
.MuiTableSortLabel-root h3, .MuiTableCell-head h3{
  color: #4d4d4d;
  font-family: ModelicaRegular;
}
// .MuiTableCell-body{
//   // font-size: 17px;
//   color: #333333;
//   font-family: ModelicaRegular;
// }
.link-filter-consult{
  text-decoration: underline;
  color: #4c4c4c;
  font-family: ModelicaRegular;
}
.link-filter-consult:hover{
  cursor: pointer;
}
.seccion-guardado{
  display: flex;
  justify-content: center;
  border: 1px solid black;
}
.seccion-guardado div{
  /* border: 1px solid blue; */
}
.seccion-guardado div:hover{
  cursor: pointer;
}


/*profesores*/


.evaluation-header{
    /*width: 100%;*/
    font-size: 11px;
}
.evaluation-header span{
    font-weight: bold;
}
.table-evaluations{
  width: 100%;
  border-radius: 5px;
  border-collapse: collapse;
  font-size: 10px;
}
.table-evaluations tbody tr:hover{
  background-color: #ededf0;
}
.table-evaluations td, .table-evaluations th{
  /* border: 1px solid #e0e0e0; */
}
.th-vertical{
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  min-width: 20px;
}
.seccion-guardado{
  display: flex;
  justify-content: center;
  border: 1px solid black;
  font-size: 15px;
}
.seccion-guardado div{
  /* border: 1px solid blue; */
}
.seccion-guardado div:hover{
  cursor: pointer;
}
/* .th-vertical div{
  margin: 5px;
  padding: 0;
  font-weight: normal;
  font-size: 11px;
  transform: rotate(270deg);
  white-space: pre;
} */

.table-fechas-inscrip{
  border-collapse: collapse;
  font-family: ModelicaMedium;
}

.table-fechas-inscrip th{
  font-weight: normal;
  font-size: 11px;
  border-bottom: 1px solid #ddd;
  padding: 0px 5px;
}

.table-fechas-inscrip thead{
  border-bottom: 1px solid #eee;
  min-height: 20px;
}

.table-fechas-inscrip tbody .tr-career-fechas_inscrip td{
  padding: 5px 0px;
  border-bottom: 1px solid #ddd;
}

.tr-career-fechas_inscrip .td-career-description{
  font-weight: normal;
  font-size: 12px;
}

.tr-career-fechas_inscrip .career-cantidad{
  font-weight: normal;
  font-size: 10px;
}

.table-fechas-inscrip tbody tr:hover{
  background-color: #ddd;
}
.fila-total_total_inscrip td{
  font-size: 18px;
}

.employees_pay_multiple{
  width: 100%;
  border-collapse: collapse;
}
.employees_pay_multiple thead th{
  font-family: ModelicaMedium;
  color: #333333;
  border-bottom: 1px solid #bcbcbc;
}
.employees_pay_multiple tbody td{
  font-family: ModelicaMedium;
  font-size: 12px;
  color: #333333;
  height: 50px;
  border-bottom: 1px solid #bcbcbc;
}
.employees_pay_multiple .border-sides{
  border-left: 1px solid #bcbcbc;
  border-right: 1px solid #bcbcbc;
  padding: 0 10px;
  font-weight: bold;
}

.employees_pay_multiple .border-sides .red{
  color: #ae151a;
}

.employees_pay_multiple .border-sides .green{
  color: #015e26;
}
.total-pago-funcionario{
  font-family: ModelicaMedium;
  font-weight: bold;
  font-size: 18px;
}
/*.total-pago-funcionario span{
  font-family: ModelicaMedium;
  font-weight: bold;
  font-size: 18px;
}*/